.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
}
.popin {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 4em 9em;
    transform: translate(-50%, -50%);
    border-radius: 3.6em;
    background: #ffd907;
}
.popinTitle {
    margin-bottom: 2rem;
    color: #000;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5rem;
    text-transform: uppercase;
}
