.header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 5.1rem;
    z-index: 10;
    @media (max-width: 768px) {
        display: none;
    }
}
.logo {
    flex: auto;
    text-align: left;
    svg {
        width: 13.7rem;
    }
}
.navLink {
    margin-right: 4rem;
    color: #000;
    font-family: Circe;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
}
.button {
    display: block;
    padding: 1.4rem 2rem;
    color: #000;
    font-family: Circe;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    border-radius: 1.4rem;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.mobileHeader {
    display: none;
    position: relative;
    z-index: 10;
    @media (max-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-top: 1.6rem;
        padding-left: 0.2em;
        margin-bottom: 26.9em;
    }
}
.mobileLogo {
    svg {
        width: 10em;
    }
}
.burger {
    padding-top: 0.4em;
    cursor: pointer;
}
