.footer {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 4rem;
}
.navLink {
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem; 
    text-transform: uppercase;
    text-decoration: none;
}
