html {
  font-size: 62.5%;
}
.app {
  text-align: center;
}
.firstScreen {
  width: 100%;
  height: 100vh;
  background: #b1c728;
  overflow: hidden;
}
.firstScreenContainer {
  position: relative;
  max-width: 116rem;
  margin: 0 auto;
  height: 100%;
}
.title {
  position: relative;
  width: 45.2rem;
  margin: 0 auto;
  margin-bottom: 2.7rem;
  color: #fff;
  text-align: center;
  font-family: Circe;
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  white-space: pre-wrap;
  z-index: 10;
}
.button {
  position: relative;
  padding: 3rem 4rem;
  color: #fff;
  font-family: Circe;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  border-radius: 1.4rem;
  background: #3c4497;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
}
.bottleWrapper {
  position: absolute;
  bottom: -0.5rem;
  left: -13.8rem;
}
.bottle {
  width: 74.3rem;
}
.prizeWrapper {
  position: absolute;
  right: -3.4rem;
  top: 32.4rem;
}
.prize {
  width: 46.5rem;
}
.leafWrapper {
  position: absolute;
  top: 9.7rem;
  right: -12.4rem;
}
.leaf {
  width: 14.8rem;
}
.card {
  position: absolute;
  top: 15.2rem;
  right: 2.8rem;
  width: 28.6rem;
  height: 17rem;
  padding: 1rem 1rem;
  padding-top: 6.1rem;
  background: #ffd907;
  border-radius: 2rem;
  transform: rotate(-11.302deg);
}
.cardImageWrapper {
  position: absolute;
  left: 2.2rem;
  top: 1.5rem;
}
.cardImage {
  transform: rotate(11.302deg);
}
.cardWifiWrapper {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  transform: rotate(11.302deg);
}
.cardButton {
  display: inline-block;
  padding: 0.6rem 1rem;
  margin-left: 4.7rem;
  color: #000;
  text-align: center;
  font-family: Circe;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  border-radius: 9rem;
  background: #fff;
}
.cardSumm {
  color: #000;
  text-align: center;
  font-family: Circe;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  letter-spacing: -0.3rem;
  text-transform: uppercase;
}
