html {
  font-size: 62.5%;
  @media (max-width: 1120px) {
    font-size: 0.89292vw;
  }
  @media (max-width: 768px) {
    font-size: 62.5%;
  }
}
body {
  color: #000;
  font-family: Circe;
  font-weight: 400;
}
.app {
  text-align: center;
}
.firstScreen {
  width: 100%;
  height: 100vh;
  min-height: 54em;
  background: #b1c728;
  overflow: hidden;
  @media (max-width: 1180px) {
    padding: 0 1em;
  }
  @media (max-width: 768px) {
    padding-left: 1.8em;
    padding-right: 2.2em;
  }
}
.firstScreenContainer {
  position: relative;
  max-width: 116em;
  margin: 0 auto;
  height: 100%;
}
.title {
  position: relative;
  width: 45.2rem;
  margin: 0 auto;
  margin-bottom: 2.7rem;
  color: #fff;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  white-space: pre-wrap;
  z-index: 10;
}
.button {
  position: relative;
  padding: 3rem 4rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  border-radius: 1.4rem;
  background: #3c4497;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
}
.bottleWrapper {
  position: absolute;
  bottom: -0.9em;
  left: -13.8em;
}
.bottle {
  width: 74.3em;
}
.prizeWrapper {
  position: absolute;
  right: -3.4em;
  top: 32.4em;
}
.prize {
  width: 46.5em;
}
.leafWrapper {
  position: absolute;
  top: 9.7em;
  right: -12.4em;
}
.leaf {
  width: 14.8em;
}
.card {
  position: absolute;
  top: 15.2em;
  right: 2.8em;
  width: 28.6em;
  height: 17em;
  padding: 1em 1em;
  padding-top: 6.1em;
  background: #ffd907;
  border-radius: 2em;
  transform: rotate(-11.302deg);
}
.cardImageWrapper {
  position: absolute;
  left: 2.2em;
  top: 1.5em;
}
.cardImage {
  transform: rotate(11.302deg);
  width: 5.4em;
}
.cardWifiWrapper {
  position: absolute;
  right: 1.5em;
  top: 2em;
  transform: rotate(11.302deg);
  svg {
    width: 3.1em;
  }
}
.cardButton {
  display: inline-block;
  padding: 0.6rem 1rem;
  margin-left: 4.7rem;
  color: #000;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  border-radius: 9rem;
  background: #fff;
}
.cardSumm {
  color: #000;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.3rem;
  text-transform: uppercase;
}
.secondScreen {
  padding-top: 5.7em;
  overflow: hidden;
  @media (max-width: 1180px) {
    padding: 0 1em;
  }
  @media (max-width: 768px) {
    padding-left: 1.8em;
    padding-right: 2.2em;
  }
}
.container {
  position: relative;
  max-width: 116em;
  margin: 0 auto;
}
.spiralWrapper {
  position: absolute;
  left: -4.5em;
  top: -1.1em;
  svg {
    width: 14.9em;
  }
}
.lemonWrapper {
  position: absolute;
  right: -30em;
  top: 42em;
}
.lemon {
  height: 27.9em;
  transform: rotate(97deg);
}
.secondTitle {
  margin-bottom: 4rem;
  color: #000;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6rem;
  text-transform: uppercase;
}
h4 {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
}
.guaranteeTitle {
  margin-bottom: 3rem;
}
.guarantee {
  margin-bottom: 4em;
  border-radius: 3.6em;
  background: #f6f6f6;
}
.guaranteeContainer {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 4.2em;
  padding-bottom: 4em;
}
.quaranteeImageWrapper {
  margin-right: 13.4em;
}
.guaranteeText {
  width: 38.9rem;
  padding-right: 10.6rem;
  margin-top: -1rem;
  text-align: left;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.prizesTitle {
  margin-bottom: 13.4rem;
}
.prizesContainer {
  display: flex;
  gap: 4em;
  margin-bottom: 4em;
}
.prizesItem {
  flex: 0 0 calc((100% - 8em) / 3);
  border-radius: 3.6em;
  background: #ffd907;
}
.prizesImage {
  height: 28.3em;
  margin-top: -10em;
}
.prizesText {
  margin-top: 3.5rem;
  margin-bottom: 4.7rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.buttonSmall {
  width: 36rem;
  padding: 2rem 3.6rem;
  margin-bottom: 7.9rem;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  border-radius: 1.4rem;
  background: #3c4497;
  border: none;
  outline: none;
  cursor: pointer;
}
