.app {
  text-align: center;
}
.firstScreen {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  background: #b1c728;
}
.title {
  color: #fff;
  text-align: center;
  font-family: Circe;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
  text-transform: uppercase;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
