@font-face {
  font-family: Circe;
  src:
    local("Circe"),
    url("./fonts/circe.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Circe;
  src:
    local("Circe"),
    url("./fonts/circe-bold.ttf") format("truetype");
  font-weight: 700;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: Circe;
    box-sizing: border-box;
}
body * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
